html {
    font-family: sans-serif;
  }
  
table {
    width: 30%;
    border-collapse: collapse;
}
caption {
    caption-side: top;
    margin: 0px 0;
    font-weight: bold;
    align-items: center;
}

th, td {
    padding: 10px;
    text-align: center;
}
th:nth-child(2),th:nth-child(3) {
    border-top: 2px solid rgb(0, 0, 0);
}

/* Estilo para as células da primeira coluna */

td:first-child, th:first-child{
    text-align: right;
}

td:last-child, th:last-child{
    text-align: left;
}

td:nth-child(3), th:nth-child(3){
    border-left: 2px solid rgb(0, 0, 0); /* Borda central pintada de azul */
}

#primeiroInput {
    background-color: #0c9df1;
    color: #ffffff;
    width: 50px;
    border-radius: 2cm;
    font-weight: bold;
}