<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tabela com Borda Central Pintada</title>
    <link rel="stylesheet" type="text/css" href="static/css/minimal-table.css">

</head>
<body>
    <h2>Tabela com várias bordas pintadas</h2>  
    <table>
        <caption>Dados de Exemplo</caption>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1a</td>
                <td>1.000</td>
                <td>1.000</td>
                <td>1a</td>
            </tr>
            <tr>
                <td>2a</td>
                <td>2.000</td>
                <td>2.000</td>
                <td><input id="primeiroInput"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
