<html>
    <head>
        <!-- <title>blabla</title> -->
        <title>{{ argumento }}</title>
        <link rel="stylesheet" href="/static/css/main.css"/>
    </head>
    <body>
        <div>nao sei1 um</div>
        <div>
            <table>
                <tr>
                    <th>id débitos</th>
                    <th>valores débitos</th>
                    <th>valores créditos</th>
                    <th>id créditos</th>
                </tr>
                <tr>
                    <td>1a</td>
                    <td>1000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>2a</td>
                    <td>1000</td>
                </tr>

            </table>

        </div>
    </body>
</html>